extends index

block body
  .buttons.buttons_top
    a.button.js-history-back(href="/") Back
    
  .result
    a(href=sprite).result__image-wrap
      img(src=sprite, alt="")
    .result__style-wrap
      pre.result__style-pre= style
